*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .md\:pl-5 {
        padding-left: 1.25rem;
    }
}
@media (min-width: 768px) {
    .md\:pb-4 {
        padding-bottom: 1rem;
    }
}
@media (min-width: 768px) {
    .md\:w-max {
        width: -moz-max-content;
        width: max-content;
    }
}
@media (min-width: 768px) {
    .md\:right-24 {
        right: 6rem;
    }
}
.z-\[50\] {
    z-index: 50;
}
.z-\[150\] {
    z-index: 150;
}
.relative{
    position: relative;
}
.fixed {
    position: fixed;
}
.shadow-sm, .shadow-xl {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 8px 10px -6px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
}
@media (min-width: 768px) {
    .md\:shadow-2xl, .md\:shadow-lg {
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
}
@media (min-width: 768px) {
    .md\:shadow-2xl {
        --tw-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
        --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    }
}
@media (min-width: 768px) {
    .md\:w-96 {
        width: 24rem;
    }
}
@media (min-width: 768px) {
    .md\:block {
        display: block;
    }
}
.border-b {
    border-bottom-width: 1px;
}
.justify-between {
    justify-content: space-between;
}

.pl-5 {
    padding-left: 1.25rem;
}
.pr-1 {
    padding-right: .25rem;
}
.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.rounded-12px {
    border-radius: 12px;
}
.h-52px {
    height: 52px;
}
.font-500 {
    font-weight: 500;
}
.font-\[600\] {
    font-weight: 600;
}
.text-\[14px\] {
    font-size: 14px;
}
.py-\[8px\] {
    padding-bottom: 8px;
    padding-top: 8px;
}
.px-\[14px\] {
    padding-left: 14px;
    padding-right: 14px;
}
.bg-gray-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}
.border-y {
    border-bottom-width: 1px;
    border-top-width: 1px;
}
.pt-3 {
    padding-top: .75rem;
}