/* STYLE COLOR */
.bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(0 113 249 / var(--tw-bg-opacity));
}
.bg-blue {
    background-color: rgb(0, 75, 141);
}
.bg-gray {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}
.text-white {
    color: #ffffff !important;
}
.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(5 6 15 / var(--tw-text-opacity));
}
.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(35 36 45);
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

/* STYLE POSITION */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.inline-flex {
    display: inline-flex;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.grid {
    display: grid;
}
.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.col-span-1 {
    grid-column: span 1 / span 1;
}
.gap-5 {
    gap: 1.25rem;
}
.gap-4 {
    gap: 1rem;
}
.gap-3 {
    gap: .75rem;
}
.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: start;
}
.items-center {
    align-items: center;
}
.overflow-hidden {
    overflow: hidden;
}
/* STYLE WIGHT/HEIGHT */
.w-max {
    width: -moz-max-content;
    width: max-content;
}
.w-full {
    width: 100%;
}
.w-auto{
    width: auto;
}
.h-full {
    height: 100%;
}
.w-5{
    width: 1.25rem;
}
.h-5 {
    height: 1.25rem;
}
/* Style spacing */
.left-0 {
    left: 0;
}
.bottom-0 {
    bottom: 0;
}
.right-0 {
    right: 0;
}
.top-0 {
    top: 0;
}


/* STYLE PADDING */
.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.px-2 {
    padding-left: .5rem;
    padding-right: .5rem;
}
.py-3 {
    padding-bottom: .75rem;
    padding-top: .75rem;
}
.py-10 {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}
.pt-5 {
    padding-top: 1.25rem;
}
.pb-8 {
    padding-bottom: 2rem;
}
.pl-14 {
    padding-left: 3.5rem;
}

/* STYLE MARGIN */
.mt-7 {
    margin-top: 1.75rem;
}
.mt-5 {
    margin-top: 1.25rem;
}
.mt-12 {
    margin-top: 3rem;
}
.mt-10 {
    margin-top: 2.5rem;
}
.mb-2 {
    margin-bottom: .5rem;
}
.mb-8 {
    margin-bottom: 2rem;
}
.mb-16 {
    margin-bottom: 4rem;
}
.my-3 {
    margin-top: .75rem;
    margin-bottom: .75rem;
}
.mr-3 {
    margin-right: .75rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* Style img */
.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}
.min-w-full {
    min-width: 100%;
}
/* STYLE TEXT */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-white {
    color: white;
}
.fw-700 {
    font-weight: 700 !important;
}
.text-4x1 {
    font-size: 2.25rem;
    line-height: 3rem;
}
.text-3x1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.text-2x1 {
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-14 {
    font-size: 14px;
}
.text-16 {
    font-size: 16px;
}
.style {
    color: rgb(0, 75, 141);
}
.font-normal {
    font-weight: 400;
}
.font-medium {
    font-weight: 500;
}
.font-semibold {
    font-weight: 600;
}
.not-italic {
    font-style: normal;
}
/* STYLE BUTTON */
a {
    color: inherit;
    text-decoration: inherit;
}
.rounded-md {
    border-radius: .375rem;
}
.rounded-16 {
    border-radius: 16px;
}
.rounded-12 {
    border-radius: 12px;
}
.border {
    border-width: 1px;
}
.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
[role=button], button {
    cursor: pointer;
}
/* REPONSIVE DEVICE  */
@media (min-width: 640px) {
    .sm\:text-4x1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}
.container {
    width: 100%;
}