.modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top:0;
    background-color: #57575741;
}

.modal .content{
    width: 350px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}
/* The Close Button */
.close {
    margin-top: 8px;
    margin-right: 8px;
    float: right;
    font-size: 16px;
}

.modal .content img{
    margin: 8px 24px;
    width: 300px;
}
.modal .content p{
    margin: 8px 24px;
}
.modal .content button{
    margin: 8px 24px;
}
