.itemPokemonCard .imgPokemon {
    width: fit-content;
    background-color: bisque;
}

.itemPokemonCard .imgPokemon img{
    width: 100%;
}

p.idPokemon {
    color: gray;
    margin-bottom: 16px;
}

p.namePokemon{
    
}

b{
    font-size: 32px;
}
div.elemental{
    display: flex;
    gap: 4px;
}
div.elemental span{
    display: inline-block;
    padding: 4px 16px;
    text-align: center;
    border-radius: 4px;
}

.Grass {
    background-color: #9BCC51;
    color: black;
}

.Bug {
    background-color: #9BCC51;
    color: black;
}

.Flying {
    background-color: #9BCC51;
    color: black;
}

.Fire {
    background-color: #FE7D24;
    color: white;
}

.Water {
    background-color: #1b51c7;
    color: white;
}