.grid {
    display: grid;
}
.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0,1fr));
}
.space-y-2>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(.5rem* var(--tw-space-y-reverse));
    margin-top: calc(.5rem*(1 - var(--tw-space-y-reverse)));
}
.space-y-5>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(1.25rem* var(--tw-space-y-reverse));
    margin-top: calc(1.25rem*(1 - var(--tw-space-y-reverse)));
}
.leading-5 {
    line-height: 1.25rem;
}
.leading-6 {
    line-height: 1.5rem;
}
.col-span-4 {
    grid-column: span 4 / span 4;
}
/* REPONSIVE */
@media (min-width: 768px) {
    .md\:px-0 {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width: 768px) {
    .md\:space-y-5>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-bottom: calc(1.25rem* var(--tw-space-y-reverse));
        margin-top: calc(1.25rem*(1 - var(--tw-space-y-reverse)));
    }
}
@media (min-width: 768px) {
    .md\:space-y-0>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-bottom: calc(0px* var(--tw-space-y-reverse));
        margin-top: calc(0px*(1 - var(--tw-space-y-reverse)));
    }
}
@media (min-width: 768px) {
    .md\:space-x-14>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-left: calc(3.5rem*(1 - var(--tw-space-x-reverse)));
        margin-right: calc(3.5rem* var(--tw-space-x-reverse));
    }
}
@media (min-width: 768px) {
    .md\:col-span-1 {
        grid-column: span 1 / span 1;
    }
}
@media (min-width: 768px) {
    .md\:order-none {
        order: 0;
    }
}
.order-last {
    order: 9999;
}
@media (min-width: 640px) {
    .sm\:block {
        display: block;
    }
}
@media (min-width: 768px) {
    .md\:col-span-1 {
        grid-column: span 1 / span 1;
    }
}
@media (min-width: 768px) {
    .md\:flex-col {
        flex-direction: column;
    }
}