@media (min-width: 1024px) {
    .lg\:mb-20 {
        margin-bottom: 5rem;
    }
}
@media (min-width: 1024px) {
    .lg\:mt-12 {
        margin-top: 3rem;
    }
}

@media (min-width: 768px) {
    .md\:rounded-3x1 {
        border-radius: 1.5rem;
    }
}

@media (min-width: 768px) {
    .md\:px-5 {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

@media (min-width: 768px) {
    .md\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 640px) {
    .sm\:p-5 {
        padding: 1.25rem;
    }
}

@media (min-width: 640px) {
    .sm\:mt-5 {
        margin-top: 1.25rem;
    }
}

@media (min-width: 640px) {
    .sm\:shadow-x1 {
        --tw-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 8px 10px -6px rgba(0,0,0,.1);
        --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
}

@media (min-width: 768px) {
    .md\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 640px) {
    .sm\:py-4 {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}

@media (min-width: 640px) {
    .sm\:p-0 {
        padding: 0;
    }
}

@media (min-width: 640px) {
    .sm\:w-full {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .md\:py-0 {
        padding-bottom: 0;
        padding-top: 0;
    }
}
@media (min-width: 640px) {
    .sm\:items-center {
        align-items: center;
    }
}
@media (min-width: 640px) {
    .sm\:flex-row {
        flex-direction: row;
    }
}
@media (min-width: 1280px) {
    .x1\:inline-block {
        display: inline-block;
    }
}
.overflow-auto {
    overflow: auto;
}

.space-x-5>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(1.25rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(1.25rem* var(--tw-space-x-reverse));
}
/* STYLE FILTER */
.flex {
    display: flex;
  }
  
.inline-flex {
    display: inline-flex;
}
.px-40px {
  padding-left: 40px;
  padding-right: 40px;
}

.px-10px {
  padding-left: 10px;
  padding-right: 10px;
}

.py-12px {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-4px {
  padding: 4px;
}

.inline-block {
  display: inline-block;
}

.rounded-12px {
  border-radius: 12px;
}

.rounded-16px {
  border-radius: 16px;
}
.rounded-full {
    border-radius: 9999px ;
}

.text-16px {
  font-size: 16px;
}

.text-gray-500 {
  color: #6b7280;
}

.bg-blue-500 {
  background-color: #3b82f6;
}

.bg-blue-600 {
  background-color: #2563eb;
}

.hover\:bg-blue-600:hover {
  background-color: #2563eb;
}

.border-neutral-200 {
  border-color: #e5e7eb;
}

.w-full {
  width: 100%;
}


/* STYLE STEP 3 */

@media (min-width: 768px) {
    .md\:space-x-5>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-left: calc(1.25rem*(1 - var(--tw-space-x-reverse)));
        margin-right: calc(1.25rem* var(--tw-space-x-reverse));
    }
}
.btn-pay-now {
    transition: .2s ease-in-out;
}
@media (min-width: 640px) {
    .sm\:w-auto {
        width: auto;
    }
}
@media (min-width: 640px) {
    .sm\:items-center {
        align-items: center;
    }
}
@media (min-width: 768px) {
    .md\:p-0 {
        padding: 0;
    }
}
@media (min-width: 768px) {
    .md\:my-10 {
        margin-bottom: 2.5rem;
        margin-top: 2.5rem;
    }
}
@media (min-width: 768px) {
    .md\:mb-0 {
        margin-bottom: 0;
    }
}
@media (min-width: 1280px) {
    .xl\:w-3\/12 {
        width: 25%;
    }
}
@media (min-width: 1280px) {
    .xl\:w-3\12 {
        width: 25%;
    }
}
@media (min-width: 1024px) {
    .lg\:w-5\12 {
        width: 41.666667%;
    }
}
@media (min-width: 640px) {
    .sm\:w-6\12 {
        width: 50%;
    }
}
@media (min-width: 768px) {
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.opacity-0 {
    opacity: 0;
}
.border {
    border-width: 1px;
}
.rounded {
    border-radius: .25rem;
}
.pointer-events-none {
    pointer-events: none;
}
.bg-gray-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.-top-28 {
    top: -7rem;
}
.invisible {
    visibility: hidden !important;
}